.sum23Products {

    &__title {
        padding: 50px 0;
        display: block;
        text-align: center;
    }

    &__itemCard {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;
    }
}

a {
    text-decoration: none;
    color: #000;
}