.card {
    width: 330px;
    height: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 30px;
    position: relative;

    &__img {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        &-main {
            z-index: 1;
        }
        
        &:hover {
            .card__img-second {
                z-index: 2;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        padding: 10px 0px;
    }

    &__prices {
        text-align: center;
        padding-bottom: 14px;
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}
